<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="http://localhost:8080/main.css" />
		<title>Teste sur Express</title>
	</head>

	<body>
		<nav>
			<ul class="ul-nav">
				<li><a href="/">Page d'acceuil</a></li>
				<li><a href='/salon/<%= NumSalon %>'>création d'un salon</a></li>
				<li><a href="/page2">2</a></li>
				<li><a href="/page3">3</a></li>
			</ul>
		</nav>