<%- include('header') -%>
    <h1>Page d'acceuil</h1>
    <form action="">
        <label for="">
            <input type="text" placeholder="Prénom">
            <input type="text" placeholder="Nom">
            <input type="submit">
        </label>
    </form>
    <%- include('footer') -%>