* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    height: 200vh;
}

nav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: lightgoldenrodyellow;
    padding: 1em;
}

.ul-nav {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    color: red
}

section {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: lightslategray;
    padding: 1em;
}